<%= form_for @pet, :html => {:multipart => true, :role => 'form'} do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {:class => 'form-control', :placeholder => 'Enter name'} %>
    </div>
    <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, {:class => 'form-control', :placeholder => 'Enter breed'} %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content,{:class => 'form-control',:rows => "3",:placeholder => 'Enter content'} %>
    </div>
    <div class="form-group">
      <%= f.label :reportFlag %>
      <%= f.text_field :reportFlag, {:class => 'form-control', :placeholder => 'Enter report flag'} %>
    </div>
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :user %>
      <%= f.text_field :user, {:class => 'form-control', :placeholder => 'Enter user'} %>
    </div>
    <div class="form-group">
      <%= f.label :mainPhoto %>
      <%= f.file_field :mainPhoto %>
      <%= image_tag @pet.mainPhoto,:class =>'img-circle',:size =>"50x40" %>
    </div>
    <div class="form-group">
      <%= f.label :photos %>
      <%= f.file_field :photos %>
      <%= image_tag @pet.photos,:class =>'img-circle',:size =>"50x40" %>
    </div>

  </div>

<% end %>

<script type="text/javascript">
    $(function() {
        var file;

        // Set an event listener on the Choose File field.
        $('#fileselect').bind("change", function(e) {
            var files = e.target.files || e.dataTransfer.files;
            // Our file var now holds the selected file
            file = files[0];
        });

        // This function is called when the user clicks on Upload to Parse. It will create the REST API request to upload this image to Parse.
        $('#uploadbutton').click(function() {
            var serverUrl = 'https://api.parse.com/1/files/' + file.name;

            $.ajax({
                type: "POST",
                beforeSend: function(request) {
                    request.setRequestHeader("X-Parse-Application-Id", '4LJ8r1x6bT34iJcAH360QBrvrjtomkOEnw6V2ODD');
                    request.setRequestHeader("X-Parse-REST-API-Key", 'Pl5Sphkn6NFqqBnV1VEZWbB6SdcEBUUlNQNqh7db');
                    request.setRequestHeader("Content-Type", file.type);
                },
                url: serverUrl,
                data: file,
                processData: false,
                contentType: false,
                success: function(data) {
                    alert("File available at: " + data.url);
                },
                error: function(data) {
                    var obj = jQuery.parseJSON(data);
                    alert(obj.error);
                }
            });
        });


    });
</script>




