
<div class="row">
  <div class="col-lg-6">
    <h1>Listing pets</h1>
  </div>
  <div class="col-lg-5">  <br>
    <%= link_to 'New Pet', new_pet_path , :class =>'btn btn-primary pull-right'%>
  </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "breed" %></th>
    <th><%= sortable "description" %></th>
   <!-- <th>Mainphoto</th>
    <th>Photos</th>-->
    <th><%= sortable "reportflag" %></th>
    <th><%= sortable "user" %></th>
    <th></th>

  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= link_to pet.name, edit_pet_path(pet) unless pet.name.nil? %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.description %></td>
    <!--<td><%#= pet.mainPhoto %></td>
    <td><%#= pet.photos %></td>-->
    <td><%= pet.reportFlag %></td>
    <td><%= pet.user.firstName unless pet.user.nil? %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @pets %>

