<%= form_for @event, :html => {:multipart => true, :role => 'form'} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {:class => 'form-control', :placeholder => 'Enter name'} %>
    </div>
    <div class="form-group">
      <%= f.label :venue %>
      <%= text_field_tag :venue_name, (@event.venue ? @event.venue.name : ""), :size => '30', :class => 'form-control', :id => 'venue-name', :placeholder => 'Enter venue' %>
      <%= hidden_field_tag :venue_id, (@event.venue ? @event.venue.id : nil) %>
    </div>


    <div class="form-group">
      <%= f.label :startDate %>
      <% start_date = @e["startDate"].to_time.localtime if @e and @e["startDate"] %>
      <%= text_field :event, :startDate, :value => start_date, :id => "datepicker", :class => 'form-control datetimepicker' %>
      <%#= f.text_field :startDate,{:id => "datepicker1", :class => 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.label :endDate %>
      <% end_date = @e["endDate"].to_time.localtime if @e and @e["endDate"] %>
      <%= text_field :event, :endDate, :value => end_date, :id => "datepicker1", :class => 'form-control datetimepicker' %>
      <%#= f.text_field :endDate, {:id => "datepicker", :class => 'form-control datetimepicker'} %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.number_field :price, {:class => 'form-control'} %>
        <span class="input-group-addon">.00</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tags %>
      <div id="wrapper">
        <div id="content">
          <p>
            <%= hidden_field_tag :tag_names, @tags, id: "mySingleField" %>
          </p>
          <ul id="singleFieldTags"></ul>
        </div>
      </div>
      <%#= f.text_field :tags,{:class => 'form-control',:placeholder => 'Enter tags'} %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, {:class => 'form-control ckeditor1', :rows => "3", :placeholder => 'Enter description'} %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%#= f.text_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :reportFlag %>
      <%= f.number_field :reportFlag, {:class => 'form-control', :placeholder => 'Enter reportFlag'} %>
    </div>

    <div class="form-group">
      <%= f.label :thumbnail %>
      <%= f.file_field :thumbnail %>
      <%= image_tag @event.image, :class => 'img-circle', :size => "50x40" %>
    </div>

    <!--<div class="form-group">-->
      <!--<%#= f.label :user %>-->
      <!--<%#= f.number_field :user %>-->
    <!--</div>-->


    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#venue-name").autocomplete({
    source: function (request, response) {
      $.getJSON("/venues/find?contains=" + request.term, function (data) {
        // console.log(data);
        response(data);
      });
    },
    minLength: 2,
    delay: 0.3,
    select: function (event, ui) {
      $("#venue-name").val(ui.item.label);
      $("#venue_id").val(ui.item.id);

      console.log(ui.item ?
        "Selected: " + ui.item.label :
        "Nothing selected, input was " + this.value);

    }
  });
  $(function(){
    var sampleTags = <%= raw @tag_names.to_json %>;//['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

    //-------------------------------
    // Minimal
    //-------------------------------
    $('#myTags').tagit();

    //-------------------------------
    // Single field
    //-------------------------------
    $('#singleFieldTags').tagit({
      availableTags: sampleTags,
      // This will make Tag-it submit a single form value, as a comma-delimited field.
      singleField: true,
      singleFieldNode: $('#mySingleField')
    });

  });

//  $('.ckeditor1').ckeditor({
//    toolbar: 'Pure',
//    width: 522,
//    height: 70,
//    pasteFromWordRemoveFontStyles: false,
//    pasteFromWordRemoveStyles: false,
//    forcePasteAsPlainText: false
//  });


</script>



<script type="text/javascript">
    $(function() {
        $( "#datepicker" ).datetimepicker({
            dateFormat: "yy-mm-dd",
            timeFormat: "hh:mm TT"
        });
        $( "#datepicker1" ).datetimepicker({
            dateFormat: "yy-mm-dd",
            timeFormat: "hh:mm TT"
        });
    });

</script>

