


<div class="row">
  <p>Your event has been submitted! You can also improve the event listing by adding pictures and updating the primary image below.</p>

  <%= form_for @event, :url => edit2update_event_path, :method => :post, :html => { :multipart => true } do |f| %>

      <% if @event.errors.any? %>
          <div id="error_explanation" class="alert alert-warning">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% @event.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :id %>
    <div class="row">
        <div style="background-color: #EEEEEE;padding-top: 48px;padding-bottom: 48px;">
            <div class="container">
            <%= f.label :image, "Images:" %>
            <div id="paintings" class="row col-lg-12">
              <% @photos.each do |p| %>
                  <%= render "photos/photo2" ,:p=>p %>
              <% end %>
              <div class="col-lg-3">
                <%= image_tag @event.image , :size => "75x75"%>
                <div style="padding-left: 30px;">
                  <input type="radio" name="crop-radio-button" image_object="Event" image_object_id="<%= @event.id %>" value="<%= @event.image %>"/>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <br><br>
      <div class="col-md-2">
        <div style="width:132px;height:132px;overflow:hidden;margin-left:5px;" id="jcrop_preview_img">
          <%= image_tag @event.thumbnail, :id=>'preview' %>
        </div>
      </div>
      <div class="col-md-6" id="jcrop_target_img">
        <p>
          <%= image_tag '', :id=>'jcrop_target', :alt=>'' %>
        </p>

      </div>
    </div>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= f.hidden_field attribute, :id => attribute %>
      <% end %>

      <%#= hidden_field_tag "image_object", :id => "image_object", :value => "Event" %>
      <input type="hidden" name="image_object" id="image_object">
      <%#= hidden_field_tag "image_object_id", :id => "image_object_id", :value => "#{@event.id}" %>
      <input type="hidden" name="image_object_id" id="image_object_id">
      <%#= raise @event.id %>

      <%= f.submit 'Submit', :class => 'btn btn-success', :id=>'event_submit_geo' %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
//    $(function() {
//        $('#jcrop_target').Jcrop({
//            onChange: update_crop,
//            onSelect: update_crop,
//            setSelect: [0, 0, 500, 500],
//            aspectRatio: 1
//        });
//    });

    function update_crop(coords) {
        var rx = 100/coords.w;
        var ry = 100/coords.h;
        $('#preview').css({
            width: Math.round(rx * $('#jcrop_target').width()) + 'px',
            height: Math.round(ry * $('#jcrop_target').height()) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
        var ratio = 1;//<%#= @event.image.width %> / <%#= @event.image.width %>;
        $("#crop_x").val(Math.round(coords.x * ratio));
        $("#crop_y").val(Math.round(coords.y * ratio));
        $("#crop_w").val(Math.round(coords.w * ratio));
        $("#crop_h").val(Math.round(coords.h * ratio));
    }

    $("input:radio[name=crop-radio-button]").click(function() {
        console.log("crop-radio-button click");
        var image_object = $(this).attr("image_object");
        var image_object_id = $(this).attr("image_object_id");
        console.log(image_object + ' ' + image_object_id);
        $("#image_object").val(image_object);
        $("#image_object_id").val(image_object_id);

        var src = $(this).val();
        $("#jcrop_target_img").html(src ? "<img src='" + src + "' id='jcrop_target'>" : "");
        $("#jcrop_preview_img").html(src ? "<img src='" + src + "' id='preview'>" : "");

        $('#jcrop_target').Jcrop({
            onChange: update_crop,
            onSelect: update_crop,
            setSelect: [0, 0, 500, 500],
            aspectRatio: 1
        });

    });

</script>




