<div class="row">
  <div class="col-lg-6">
    <%= form_tag events_path, :method => 'get', :id => "events_search",:class=>"form-inline" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search],:class=>"form-control",:placeholder=>"Search by Name or City" %>
        </div>
        <%= submit_tag "Search", :name => nil, :class=>'btn btn-default' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h1>Listing events</h1>
  </div>
  <div class="col-lg-5">
    <%= link_to 'New Event', new_event_path ,{:class => 'btn btn-primary pull-right'} %>
  </div>
</div>

<table class="table table-bordered table-striped pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "venue_name" %></th>
    <!--<th><%#= sortable "address" %></th>-->
    <!--<th>Address2</th>-->
    <th><%= sortable "city" %></th>
   <!-- <th>Coordinate</th>-->
    <!--<th>Description</th>-->
    <!--<th>Enddate</th>-->
    <!--<th>Image</th>-->
    <!--<th>Price</th>-->
    <!--<th>Reportflag</th>-->
    <!--<th><%#= sortable "state" %></th>-->
    <th><%= sortable "startDate" %></th>
    <th><%= sortable "endDate" %></th>
    <!--<th><%#= sortable "tags" %></th>-->
    <!--<th>Thumbnail</th>-->
    <!--<th>User</th>-->

   <!-- <th>Zip</th>-->
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, edit_event_path(event) unless event.name.nil? %></td>
    <td><%= event.venue.name unless event.venue.nil? %></td>
    <!--<td><%#= event.address %></td>-->
    <!--<td><%#= event.address2 %></td>-->
    <td><%= event.city %></td>
    <!--<td><%# unless event.coordinate.nil? %><%#= event.coordinate.latitude %><br><%#= event.coordinate.longitude %><%# end %></td>-->
    <!--<td><%#= event.description %></td>-->
    <!--<td><%#= event.endDate %></td>-->
    <!--<td><%#= event.image %></td>-->

    <!--<td><%#= event.price %></td>-->
    <!--<td><%#= event.reportFlag %></td>-->

    <!--<td><%#= event.state %></td>-->
    <!--<td><%#= event.startDate unless event.startDate.nil? %></td>-->
    <td>
      <%# e=Parse::Query.new("Event").eq("objectId", event.id).get.first %>
      <%#= e["startDate"].to_time.strftime("%a %B %d at %I:%M%p") if e["startDate"] %>
      <%= event.startDate.strftime("%a %B %d at %I:%M%p") unless event.startDate.nil? %>
    </td>
    <td><%#= e["endDate"].to_time.localtime.strftime("%a %B %d at %I:%M%p") if e["endDate"] %>
      <%= event.endDate.strftime("%a %B %d at %I:%M%p") unless event.endDate.nil? %>
    </td>

    <!--<td><%#= event.event_tags %></td>-->
    <!--<td><%#= event.thumbnail %></td>-->
    <!--<td><%#= event.user %></td>-->

   <!-- <td><%#= event.zip %></td>-->
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @events %>

