<div class="row">
  <div class="col-lg-6">
    <h1>Listing events</h1>
  </div>
  <div class="col-lg-5">
    <%= link_to 'New Event', new_event_path ,{:class => 'btn btn-primary pull-right'} %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Venue Name</th>
    <th>Address</th>
    <!--<th>Address2</th>-->
    <!--<th>City</th>-->
   <!-- <th>Coordinate</th>-->
    <!--<th>Description</th>-->
    <!--<th>Enddate</th>-->
    <!--<th>Image</th>-->
    <!--<th>Price</th>-->
    <!--<th>Reportflag</th>-->
    <th>State</th>
    <th>Startdate</th>
    <th>Tags</th>
    <!--<th>Thumbnail</th>-->
    <!--<th>User</th>-->

   <!-- <th>Zip</th>-->
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, edit_event_path(event) unless event.name.nil? %></td>
    <td><%= event.venue.name unless event.venue.nil? %></td>
    <td><%= event.address %></td>
    <!--<td><%#= event.address2 %></td>-->
    <!--<td><%#= event.city %></td>-->
    <!--<td><%# unless event.coordinate.nil? %><%#= event.coordinate.latitude %><br><%#= event.coordinate.longitude %><%# end %></td>-->
    <!--<td><%#= event.description %></td>-->
    <!--<td><%#= event.endDate %></td>-->
    <!--<td><%#= event.image %></td>-->

    <!--<td><%#= event.price %></td>-->
    <!--<td><%#= event.reportFlag %></td>-->
    <td><%= event.state %></td>
    <td><%= event.startDate.to_date unless event.startDate.nil? %></td>

    <td><%= event.event_tags %></td>
    <!--<td><%#= event.thumbnail %></td>-->
    <!--<td><%#= event.user %></td>-->

   <!-- <td><%#= event.zip %></td>-->
    <td>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

