<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @event.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>Coordinate:</b>
  <%= @event.coordinate %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Enddate:</b>
  <%= @event.endDate %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Reportflag:</b>
  <%= @event.reportFlag %>
</p>

<p>
  <b>Startdate:</b>
  <%= @event.startDate %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Tags:</b>
  <%= @event.tags %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @event.thumbnail %>
</p>

<p>
  <b>User:</b>
  <%= @event.user %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue %>
</p>

<p>
  <b>Zip:</b>
  <%= @event.zip %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
