<%= form_for @venue,:html => {:multipart => true, :role => 'form'} do |f| %>
    <% venue=@venue %>
  <% if @venue.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="col-md-6">
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address,{:class => 'form-control',:placeholder => 'Enter address'} %>
  </div>
  <div class="form-group">
    <%= f.label :address2 %>
    <%= f.text_field :address2,{:class => 'form-control',:placeholder => 'Enter address2'} %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city,{:class => 'form-control',:placeholder => 'Enter city'} %>
  </div>
  <div class="form-group">
    <%= f.label :coordinate %>
    <div class="form-inline">
      <div class="form-group">
        <%= text_field_tag :latitude, (f.object.coordinate.latitude unless f.object.coordinate.nil?) , :size => '30',:class => 'form-control',:placeholder => 'Enter latitude' %>
      </div>
      <div class="form-group">
        <%= text_field_tag :longitude, (f.object.coordinate.longitude unless f.object.coordinate.nil?) , :size => '29',:class => 'form-control',:placeholder => 'Enter longitude' %>
      </div>
    </div>
  </div>
   <div class="form-group">
     <%= f.label :description %>
     <%= f.text_area :description,{:class => 'form-control ckeditor1',:rows => "3",:placeholder => 'Enter description'} %>
   </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= image_tag @venue.image %>
  </div>
   <div class="form-group">
     <%= f.label :thumbnail %>
     <%= f.file_field :thumbnail %>
     <%= image_tag @venue.thumbnail %>
   </div>

 <%= f.submit 'Submit', :class => 'btn btn-success' %>
 </div>
 <div class="col-md-6">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,{:class => 'form-control',:placeholder => 'Enter name'} %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone,{:class => 'form-control',:placeholder => 'Enter phone'} %>
  </div>
  <div class="form-group">
    <%= f.label :photos %>
    <%#= f.number_field :photos,{:class => 'form-control',:placeholder => 'photos'} %>
  </div>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating,{:class => 'form-control',:placeholder => 'Enter rating'} %>
  </div>
  <div class="form-group">
    <%= f.label :reportFlag %>
    <%= f.number_field :reportFlag,{:class => 'form-control',:placeholder => 'Enter reportFlag'} %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state,{:class => 'form-control',:placeholder => 'Enter address'} %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <div id="wrapper">
      <div id="content">
        <p>
    <%= hidden_field_tag :tag_names, @tags , id: "mySingleField" %>
        </p>
        <ul id="singleFieldTags"></ul>
      </div>
    </div>
    <%#= f.text_field :tags,{:class => 'form-control',:placeholder => 'Enter tags'} %>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip,{:class => 'form-control',:placeholder => 'Enter zip'} %>
  </div>


   <!--<div id="wrapper">-->
     <!--<div id="content">-->
       <!--<p>-->
         <!--<input name="tags" id="mySingleField" value="Apple, Orange" disabled="true"> &lt;!&ndash; only disabled for demonstration purposes &ndash;&gt;-->
       <!--</p>-->
       <!--<ul id="singleFieldTags"></ul>-->
     <!--</div>-->
   <!--</div>-->

 </div>
<% end %>

<script>
    $(function(){
        var sampleTags = <%= raw @tag_names.to_json %>;//['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

        //-------------------------------
        // Minimal
        //-------------------------------
        $('#myTags').tagit();

        //-------------------------------
        // Single field
        //-------------------------------
        $('#singleFieldTags').tagit({
            availableTags: sampleTags,
            // This will make Tag-it submit a single form value, as a comma-delimited field.
            singleField: true,
            singleFieldNode: $('#mySingleField')
        });

    });

    $('.ckeditor1').ckeditor({
      toolbar: 'Pure',
      width: 522,
      height:70,
      pasteFromWordRemoveFontStyles: false,
      pasteFromWordRemoveStyles: false,
      forcePasteAsPlainText: false
    });


</script>
