<%= form_for @venue,:html => {:multipart => true, :role => 'form'} do |f| %>
    <% venue=@venue %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :address,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter address'} %>
  </div>
  <div class="form-group">
    <%= f.label :address2 ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :address2,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter address2'} %>
  </div>
  <div class="form-group">
    <%= f.label :city ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :city,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter city'} %>
  </div>
  <div class="form-group">
    <%= f.label :coordinate ,{:for => 'exampleInputEmail1'} %>
    <%#= f.text_field :coordinate,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter coordinate'} %>

    <%# raise f.object.coordinate.latitude.to_yaml %>
    <input type="text" value="<%= f.object.coordinate.latitude unless f.object.coordinate.nil? %>" size="30" placeholder="Enter coordinate" name="latitude" id="exampleInputEmail1" class="form-control">
    <input type="text" value="<%= f.object.coordinate.longitude unless f.object.coordinate.nil? %>" size="30" placeholder="Enter coordinate" name="longitude" id="exampleInputEmail1" class="form-control">
  </div>
  <div class="form-group">
    <%= f.label :description ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :description,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter description'} %>
  </div>
  <div class="form-group">
    <%= f.label :favoriteUsers ,{:for => 'exampleInputEmail1'} %>
    <%= f.number_field :favoriteUsers,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter favoriteUsers'} %>
  </div>
  <div class="form-group">
    <%= f.label :image ,{:for => 'exampleInputEmail1'} %>
    <%#= f.text_field :image,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter image'} %>
  </div>
  <div class="form-group">
    <%= f.label :name ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :name,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter name'} %>
  </div>
  <div class="form-group">
    <%= f.label :phone ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :phone,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter phone'} %>
  </div>
  <div class="form-group">
    <%= f.label :photos ,{:for => 'exampleInputEmail1'} %>
    <%#= f.number_field :photos,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'photos'} %>
  </div>
  <div class="form-group">
    <%= f.label :rating ,{:for => 'exampleInputEmail1'} %>
    <%= f.number_field :rating,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter rating'} %>
  </div>
  <div class="form-group">
    <%= f.label :reportFlag ,{:for => 'exampleInputEmail1'} %>
    <%= f.number_field :reportFlag,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter reportFlag'} %>
  </div>
  <div class="form-group">
    <%= f.label :state ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :state,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter address'} %>
  </div>
  <div class="form-group">
    <%= f.label :tags ,{:for => 'exampleInputEmail1'} %>
    <%#= f.text_field :tags,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter tags'} %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail ,{:for => 'exampleInputEmail1'} %>
    <%#= f.text_field :thumbnail,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter thumbnail'} %>
    <%#= image_tag f.object.thumbnail_url(:thumb) if f.object.thumbnail? %>
    <%#= f.file_field :thumbnail %>
  </div>
  <div class="form-group">
    <%= f.label :tips ,{:for => 'exampleInputEmail1'} %>
    <%#= f.number_field :tips,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter tips'} %>
  </div>
  <div class="form-group">
    <%= f.label :zip ,{:for => 'exampleInputEmail1'} %>
    <%= f.text_field :zip,{:class => 'form-control',:id => 'exampleInputEmail1',:placeholder => 'Enter zip'} %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
     <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
