
  <div class="row">
    <p>Your venue has been submitted! You can also improve the venue listing by adding pictures and updating the primary image below.</p>

    <div class="col-md-6">
    <%= form_for @venue, :url => edit2update_venue_path, :method => :post, :html => { :multipart => true } do |f| %>

        <%= f.hidden_field :id %>

        <div class="form-group">
          <%= f.label :cover_image %>
          <%= image_tag @venue.image , :size => "100x100"%>
          <%#= render "photos/photo" ,:p=>venue %>
          <%= f.file_field :image %>
        </div>

        <div style="background-color: #EEEEEE;padding-top: 48px;padding-bottom: 48px;">
            <div class="container">
            <%= f.label :image, "Images:" %>
            <div id="paintings" class="row col-lg-12">
              <% @photos.each do |p| %>
                  <%= render "photos/photo" ,:p=>p %>
              <% end %>
            </div>
            </div>
        </div>

        <br><br>
        <%= f.submit 'Submit', :class => 'btn btn-success', :id=>'venue_submit_geo' %>

    <% end %>
    </div>
    <div class="col-md-6">
      <div class="row" style="min-height: 165px"></div>
      <%= form_for @venue, :url => upload_images_venues_path, :method => :post, :html => {:id => "venue_multi_images",:multipart => true, :role => 'form'} do |f| %>

          <div class="form-group" id="multi_image_upload">
            <%= f.label :image, "Upload Images:" %>
            <%= f.file_field :image, :multiple=> true, :name=> "painting" %>
          </div>

      <% end %>
    </div>
  </div>
  <div class="row">
    <br><br>
    <div class="col-md-2">
      <div style="width:100px;height:100px;overflow:hidden;margin-left:5px;">
        <%= image_tag @venue.image, :id=>'preview' %>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <%= image_tag @venue.image, :id=>'jcrop_target' %>
      </p>
      <br><br><br><br>
    </div>
  </div>

    <script type="text/javascript">

        (function() {
            jQuery(function() {
                return $('#venue_multi_images').fileupload({
                    dataType: "script",
                    add: function(e, data) {
                        var file, types;
                        types = /(\.|\/)(gif|jpe?g|png)$/i;
                        file = data.files[0];
                        if (types.test(file.type) || types.test(file.name)) {
                            data.submit();
                        } else {
                            return alert("" + file.name + " is not a gif, jpeg, or png image file");
                        }
                    }
                });
            });

        }).call(this);

    </script>

    <script type="text/javascript">
        $("a.delete_photo").live('click', function () {
            var id = $(this).attr('id');
            var div=$(this).parent('div').parent('div')
            $.get('delete_venue_photo',{photo_id:id},
                    function(){
                        div.remove();
                    }
            );
            return false;
        });
    </script>

    <script language="Javascript">
        jQuery(function($) {
        $('#jcrop_target').Jcrop({
        onChange: showPreview,
        onSelect: showPreview,
        aspectRatio: 1
        });
        });

        function showPreview(coords)
        {
        var rx = 100 / coords.w;
        var ry = 100 / coords.h;

        $('#preview').css({
        width: Math.round(rx * 500) + 'px',
        height: Math.round(ry * 370) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
        }
    </script>




