
<div class="row">
  <div class="col-lg-6">
    <h1>Listing venues</h1>
  </div>
  <div class="col-lg-5"><br>
    <%= link_to 'New Venue', new_venue_path,{:class => 'btn btn-primary pull-right'} %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "address" %></th>
   <!-- <th>Address2</th>-->
    <th><%= sortable "city" %></th>
    <!--<th>Coordinate</th>-->
    <!--<th>Description</th>-->
    <!--<th>Favoriteusers</th>-->
    <!--<th>Image</th>-->

    <th><%= sortable "phone" %></th>
    <!--<th>Photos</th>-->
    <!--<th>Rating</th>-->
    <!--<th>Reportflag</th>-->
    <th><%= sortable "state" %></th>
    <!--<th>Events Count</th>-->
    <!--<th><%#= sortable "tags" %></th>-->
    <!-- <th>Thumbnail</th>-->
    <!--<th>Tips</th>-->
   <!-- <th>Zip</th>-->
   <th></th>



  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= link_to venue.name, edit_venue_path(venue) %></td>
    <td><%= venue.address %></td>
    <!--<td><%#= venue.address2 %></td>-->
    <td><%= venue.city %></td>
    <!--<td><%# unless venue.coordinate.nil? %><%#= venue.coordinate.latitude %><br><%#= venue.coordinate.longitude %><%# end %></td> -->
    <!--<td><%#= venue.description %></td>-->
    <!--<td><%#= venue.favoriteUsers %></td>-->
    <!--<td><%#= venue.image %></td>-->

    <td><%= venue.phone %></td>
    <!--<td><%#= venue.photos %></td>-->
    <!--<td><%#= venue.rating %></td>-->
    <!--<td><%#= venue.reportFlag %></td>-->
    <td><%= venue.state %></td>
    <!--<td>-->
      <%# v=Parse::Query.new("Venue").eq("objectId", venue.id).get.first %>
      <%#= Parse::Query.new("Event").eq("venue", v.pointer).get.size if v %>
    <!--</td>-->
    <!--<td><%#= venue.venue_tags %></td>-->
   <!--<td><%#= image_tag venue.thumbnail %></td> -->
    <!--<td><%#= venue.tips %></td>-->
   <!-- <td><%#= venue.zip %></td>-->
    <!--<td><%#= link_to 'Show', venue %></td>-->
    <!--<td><%#= link_to 'Edit', edit_venue_path(venue) %></td>-->
    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @venues %>




