<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @lost_pet.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @lost_pet.address2 %>
</p>

<p>
  <b>Breed:</b>
  <%= @lost_pet.breed %>
</p>

<p>
  <b>City:</b>
  <%= @lost_pet.city %>
</p>

<p>
  <b>Coordinate:</b>
  <%= @lost_pet.coordinate %>
</p>

<p>
  <b>Email:</b>
  <%= @lost_pet.email %>
</p>

<p>
  <b>Image:</b>
  <%= @lost_pet.image %>
</p>

<p>
  <b>Message:</b>
  <%= @lost_pet.message %>
</p>

<p>
  <b>Name:</b>
  <%= @lost_pet.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @lost_pet.phone %>
</p>

<p>
  <b>Shelters:</b>
  <%= @lost_pet.shelters %>
</p>

<p>
  <b>State:</b>
  <%= @lost_pet.state %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @lost_pet.thumbnail %>
</p>

<p>
  <b>User:</b>
  <%= @lost_pet.user %>
</p>

<p>
  <b>Zip:</b>
  <%= @lost_pet.zip %>
</p>


<%= link_to 'Edit', edit_lost_pet_path(@lost_pet) %> |
<%= link_to 'Back', lost_pets_path %>
