<%= form_for @tip ,:html => {:multipart => true, :role => 'form'} do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_field :message, {:class => 'form-control', :placeholder => 'Enter message'} %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description,{:class => 'form-control',:rows => "3",:placeholder => 'Enter description'} %>
    </div>

    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :venue %>
      <%= f.text_field :venue, {:class => 'form-control', :placeholder => 'Enter venue'} %>
    </div>
    <div class="form-group">
      <%= f.label :reportFlag %>
      <%= f.text_field :reportFlag, {:class => 'form-control', :placeholder => 'Enter report flag'} %>
    </div>
    <div class="form-group">
      <%= f.label :user %>
      <%= f.text_field :user, {:class => 'form-control', :placeholder => 'Enter user'} %>
    </div>


  </div>

<% end %>

