<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :reportFlag %><br />
    <%= f.number_field :reportFlag %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.number_field :user %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= f.number_field :venue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
