
<div class="row">
  <div class="col-lg-6">
    <h1>Listing tips</h1>
  </div>
  <div class="col-lg-5"> <br>
    <%=  link_to 'New Tip', new_tip_path, :class =>'btn btn-primary pull-right' %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sortable "message" %></th>
    <th><%= sortable "reportflag" %></th>
    <th><%= sortable "user" %></th>
    <th><%= sortable "venue" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tips.each do |tip| %>
  <tr>
    <td><%= tip.message %></td>
    <td><%= tip.reportFlag %></td>
    <td><%= tip.user.firstName unless tip.user.nil? %></td>
    <td><%= tip.venue.name unless tip.venue.nil? %></td>
    <td><%= link_to 'Show', tip %></td>
    <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
    <td><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @tips %>


